$main-font: Helvetica, sans-serif;
$primary-color: #333;
$title-font-color: rgba(255,255,255,0.6);

body {
    margin: 0;
    padding: 0;
    font: 100% $main-font;
    background-color: $primary-color;
}

@media all {
    @-ms-viewport {
        width: auto;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

@media only screen and (min-width : 768px) {
    .page-container {
        left: 360px;
    }
}


.pages-container .header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.header h1 {
    margin: 0 55px;
    padding: 9px 0 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: $title-font-color;
}
